<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGA 2.0</title>
</head>
<body>
    <h1>Exibir Aluno</h1>
    <button><a href="/">Voltar a Página Inicial</a></button>
    <p>Nome do aluno</p>
    <p><%= aluno.nome %></p>
    <br>
    <p>RA</p>
    <p><%= aluno.RA %></p>
    <br>
    <p>Data de nascimento</p>
    <p><%= aluno.data_de_nascimento %></p>

    <button><a href="/editar/<%= aluno.RA %>">Editar</a></button>
    <button><a href="/excluir/<%= aluno.RA %>">Excluir</a></button>
    
</html>