<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGA 2.0</title>
</head>
<body>
    <h1>Home page</h1>
    <button><a href="./cadastroAluno">Adicionar Aluno</a></button>
    <div style="width: 100%;">
        <table border=1 style="width: 80%;">
            <tr>
                <th>R.A</th>
                <th>Nome do Aluno</th>
                <th colspan="3">Opções</th>
            </tr>
            <% aluno.forEach(function(aluno){ %>
                <tr>
                    <td><%= aluno.RA %> </td> 
                    <td><%= aluno.nome %> </td>
                    <td><button><a href="./exibirAluno/<%= aluno.RA %>">Exibir</a></button></td>
                    <td><button><a href="./editar/<%= aluno.RA %>">Alterar</a></button></td>
                    <td><button><a href="./excluir/<%= aluno.RA %>">Excluir</a></button></td>
                </tr>
            <% })%>
        </table>
    </div>
</body>
</html>